h1{
    text-align:center;
    color: darkgreen;
}
fieldset{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: larger;
    text-align: left;
    width: 500px;
    display: block;
    margin: 0 auto;
}
input {
    color:blue;
}
body{
    font-family: Arial, Helvetica, sans-serif; background-color: cornflowerblue;
}
img{
    width: 100px; height: 100px;
    display: block;
    margin: 0 auto;
}